
.nav{
  position:sticky;
  top:0;
  left:0;
  width:100%;
  z-index: 9999;
  .links{
    padding-top:1em;

    ul{
      font-size: 1.2em;
      font-family: gill-sans-nova, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      li{
        padding-right: 2em;
        display: inline;
      }
      a {
        display: inline-block;
        color: black;
        text-decoration: none;
      }
      a:hover{
        color:red;
        transition: .2s ease;

      }
    }
  }
}
