.nav{
  padding-top:1em;
  padding-bottom:1em;
  display: flex;
  align-items: center;
  position: absolute;
  left:0;
  top:0;
  .row{
    width:100vw;
  }
  svg{
    width:8em;
  }
  .links{
    padding-top:1em;
  }

  ul{
    font-size: 1.3em;
    font-family: gibbs,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    li{
      padding-right: 7em;
      display: inline;
    }
    li:last-child{
      padding-right: 0em;
    }
  }
  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: .2s ease;
  }
  a:hover{
    color:red;
    transition: .2s ease;

  }
}

.stickynav{
  transition: 1s ease;
  z-index: 10000;
  background:rgba(0,0,0,.6);
  display:flex;
  align-items: center;
  position: fixed;
  left:0;
  top:-80px;
  .row{
    width:100vw;
  }
  svg{
    width:2em;
  }
  .links{
    padding-top:1em;
    ul{

      font-size: 1.2em;
      font-family: gill-sans-nova, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      li{
        padding-right: 2em;
        display: inline;
      }
    }
  }
  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: .2s ease;
  }
  a:hover{
    color:red;
    transition: .2s ease;

  }

}

@media screen and (max-width: 1100px){
  .links{
    ul{
      li{
        padding-right:85px;
      }
    }
  }
}

@media screen and (max-width: 830px){
  .nav{
    svg{
      width:6em;
    }
    .links{
      ul{
        font-size: 1em;
        li{
          padding-right:50px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px){
  .nav{
    svg{
      width:6em;
    }
    .links{
      ul{
        font-size: 1em;
        li{
          padding-right:5px;
        }
      }

    }
  }
}
