<div id="sign-in">
  <form class="" action="index.html" method="post">
    <input type="text" name="username" value="">
    <br>
    <input type="text" name="password" value="">
    <br>
    <input type="submit" name="" value="Submit">
  </form>
</div>
<div id="page" class="page">
  <div class="nav-left">
    <a class="menu-link" href="#">Menu</a>
    <a class="link" href="#">ORDER</a>
  </div>
  <div class="nav-right">
      <a class="link" href="#">About</a>
      <a class="link" href="#">CONTACT</a>
  </div>
  <h1 class="logo">{% svg 'fatslice' %}</h1>
  <div class="greeting">
    <h1 class="a">Authentic</h1>
    <h1 class="b">Italian</h1>
  </div>
  <div class="menu active">
    <div class="tabs">
      <button class="item active-item" name="button">Pizza</button>
      <button class="item" name="button">Pasta</button>
      <button class="item" name="button">Subs</button>
      <button class="item" name="button">Salads</button>
      <button class="item" name="button">Platters</button>
    </div>
    <div class="items">
      <div class="pizza">

      </div>
      <div class="pasta">
      </div>
      <div class="subs">
      </div>
      <div class="salads">
      </div>
      <div class="platters">
      </div>
    </div>
  </div>

</div>
